body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: Slack-Lato, appleLogo, sans-serif;
}

/* 

app styles

*/

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  background: #3f0e40;
  color: rgb(188, 171, 188);
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  font-variant-ligatures: common-ligatures;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-header {
  position: absolute;
  left: 250px;
  top: 0;
  right: 0;
  height: 59px;
  background: white;
  border-bottom: 1px solid #e8e8e8;
}

.content-header .channel-title {
  font-weight: bold;
  padding: 20px 30px;
}

.content {
  position: absolute;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 250px;
  background-color: white;
  text-align: center;
  padding: 0;
  font-size: 16px;
}

.content iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.sidebar .channel-list {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

.sidebar .channel-list .channel-item {
  padding: 4px 20px;
  cursor: pointer;
}
.sidebar .channel-list .channel-item:hover {
  background: #350d36;
}

.sidebar .channel-list .channel-item.selected {
  background: #350d36;
}

/* 

channel messages styles  


*/

.messages {
  width: 100%;
  min-width: 600px;
  padding: 20px 0 40px 0;
  text-align: left;
  display: inline-block;
  font-family: Slack-Lato, appleLogo, sans-serif;
}
.messages .msg {
  color: #616161;
  font-size: 14px;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messages .msg a {
  color: #588cc1;
  text-decoration: none;
}

.messages .msg a:hover {
  color: #3874b1;
  text-decoration: underline;
}

.messages .avatar {
  background-color: rgb(248, 244, 240);
  width: 36px;
  height: 36px;
  border-radius: 0.2em;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.65em;
}
.messages .time {
  display: inline-block;
  color: rgb(200, 200, 200);
  margin-left: 0.5em;
  font-size: 14px;
}
.messages .username {
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  font-size: 14px;
}
.messages .message {
  display: inline-block;
  vertical-align: top;
  line-height: 1;
  width: calc(100% - 3em);
}
.messages .message .msg {
  line-height: 1.5;
}

.messages .message .msg .imgFile,
.messages .message .msg .videoFile {
  max-width: 500px;
  padding: 10px 0;
  display: inline;
}
.messages .message .msg img.file {
  content: url(file-icon.webp);
  width: 60px;
  padding-left: 10px;
}

.messages .message .msg .mention {
  font-weight: bold;
}

.item.response {
  margin-top: 0;
  border-left: 1px solid #bbbbbb;
  margin-left: 47px;
}
.item {
  margin-top: 10px;
  padding: 5px 30px;
}

.item:hover {
  background-color: #f7f7f7;
}
